body.jazzmin-login-page {
    -ms-flex-align: center;
    background-image: url(/media/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    justify-content: center;
}