{% extends "admin/index.html" %}

{% block content %}
{#    <div class="card col-sm-12 col-lg-12 col-md-12 p-0">#}
{#        <div class="card-header bg-primary text-white">#}
{#            <h3 class="card-title">Custom Dashboard Table</h3>#}
{#        </div>#}
{#        <div class="card-body">#}
{#            <table id="customTable" class="table table-striped table-bordered table-hover dataTable">#}
{#                <thead class="bg-white text-primary">#}
{#                    <tr>#}
{#                        <th>ID</th>#}
{#                        <th>Name</th>#}
{#                        <th>Created At</th>#}
{#                    </tr>#}
{#                </thead>#}
{#                <tbody>#}
{#                    {% for obj in buildings %}#}
{#                    <tr class="{% cycle 'table-light' 'table-secondary' %}">#}
{#                        <td>{{ obj.id }}</td>#}
{#                        <td>{{ obj.name }}</td>#}
{#                        <td>{{ obj.created_at }}</td>#}
{#                    </tr>#}
{#                    {% endfor %}#}
{#                </tbody>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}

    {{ block.super }}  {# Keeps the default Django admin links #}

{% endblock %}
